.background-svg {
  position: absolute;
  z-index: 1;
}

.background-svg path {
  d: path(
    'M969.051 652C897.456 878.902 684.454 623.197 160.532 733.163C-94.0047 733.163 26.2273 363.484 83.2296 212.952C207.2 -45.5043 327.618 -54.9671 900.64 112.952C1147.12 185.18 982.474 609.461 969.051 652Z'
  );
  animation: animBack linear 4s infinite;
}

@keyframes animBack {
  0%,
  100% {
    d: path(
      'M969.051 652C897.456 878.902 684.454 623.197 160.532 733.163C-94.0047 733.163 26.2273 363.484 83.2296 212.952C207.2 -45.5043 327.618 -54.9671 900.64 112.952C1147.12 185.18 982.474 609.461 969.051 652Z'
    );
  }
  25% {
    d: path(
      'M952.5 691.5C880.904 918.402 651.5 791.5 164.5 791.5C-90.0363 791.5 21.4977 374.032 78.5 223.5C202.47 -34.9564 277.477 -60.9192 850.5 107C1096.98 179.228 965.923 648.961 952.5 691.5Z'
    );
  }

  50% {
    d: path(
      'M901.5 654.5C829.905 881.402 647.5 745 160.5 745C-94.0363 745 25.9977 353.532 83 203C206.97 -55.4565 292.977 -47.4192 866 120.5C1112.48 192.728 914.923 611.961 901.5 654.5Z'
    );
  }

  75% {
    d: path(
      'M887.5 684.5C815.904 911.402 661 707 174 707C-80.5363 707 11.9977 383.532 69 233C156.5 -39 293.477 -61.4191 866.5 106.5C1112.98 178.728 900.923 641.961 887.5 684.5Z" fill="#C4C4C4'
    );
  }
}
